aiohttp
async_timeout
discord.py
discord_components
fastapi
Flask
Flask_SocketIO
httpx
jieba
Jinja2
keybert
matplotlib
numpy
ollama
openai
OpenCC
pandas
Pillow
pydantic
Requests
scikit_learn
sentence_transformers
starlette
toml
tqdm
uvicorn
wcwidth
